<div class="col-md-4">
    <div class="item">
        <div class="position-re o-hidden"> <img src="img/rooms/1.jpg" alt=""> </div> <span class="category"><a href="CompanyDetails.aspx?Id={{Id}}">Book</a></span>
        <div class="con">
            <h6><a href="CompanyDetails.aspx">R50 / Kg</a></h6>
            <h5><a href="CompanyDetails.aspx">{{Name}}</a> </h5>
            <div class="line"></div>
            <div class="row facilities">
                <div class="col col-md-5 text-right">
                    <div class="permalink"><a href="CompanyDetails.aspx?Id={{Id}}">Details <i class="ti-arrow-right"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>